<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    body {
      background: linear-gradient(-45deg, #c7c8cb, #3d4044, #282b30, #1e2124);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
    }

    body.white {
      background: linear-gradient(-45deg, #282b30, #3d4044, #b3b4b6, #c7c8cb);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
    }

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }

      50% {
        background-position: 100% 50%;
      }

      100% {
        background-position: 0% 50%;
      }
    }


    * {
      box-sizing: border-box;
    }

    body {
      font-family: Arial;
      padding: 10px;

    }

    /* Header/Blog Title */
    .header {
      padding: 30px;
      text-align: center;
      color: #e2dddf;
    }

    .header h1 {
      font-size: 50px;
    }

    /* Style the top navigation bar */
    .topnav {
      overflow: hidden;
      background-color: #333;
    }

    /* Style the topnav links */
    .topnav a {
      float: left;
      display: block;
      color: #3d898d;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    /* Change color on hover */
    .topnav a:hover {
      background-color: #3d898d;
      color: white;
    }

    /* Create two unequal columns that floats next to each other */
    /* Left column */
    .leftcolumn {
      float: left;
      width: 75%;
      padding-right: 20%;
      padding-left: 20px;
    }

    /* Right column */
    .rightcolumn {
      float: left;
      width: 25%;
      /*background-color: #f1f1f1;*/
      padding-left: 20px;
      padding-right: 30px;
    }

    /* Right column */
    .midcolumn {
      float: left;
      width: 75%;
      /*background-color: #f1f1f1;*/
      padding-left: 475px;
    }

    /* Fake image */
    .fakeimg {

      width: 100%;
      padding: 20px;
    }

    /* Add a card effect for articles */
    .card {

      background-color: rgba(176, 172, 186, 0.2);
      color: #e2dddf;
      padding: 20px;
      margin-top: 20px;

    }

    .card:hover {
      background-color: #3d898d;
      color: white;
      opacity: 0.5;
    }


    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    /* Footer */
    .footer {
      padding: 20px;
      text-align: center;

      margin-top: 20px;
    }

    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 800px) {

      .leftcolumn,
      .rightcolumn {
        width: 100%;
        padding: 0;
      }
    }

    /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
    @media screen and (max-width: 400px) {
      .topnav a {
        float: none;
        width: 100%;
      }
    }

    input[type=text] {
      width: 15%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: none;
      color: white;
      background-color: rgba(226, 221, 223, 0.2);
      border-bottom: 2px solid #3d898d;
    }

    input[type=submit] {
      width: 5%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: none;
      color: white;
      background-color: rgba(226, 221, 223, 0.2);
      border-bottom: 2px solid #3d898d;
    }

    input[type=submit]:hover {
      background-color: #3d898d;
      color: white;
      border-bottom: 2px solid white;
    }

    select {
      width: 6%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: none;
      color: white;
      background-color: rgba(226, 221, 223, 0.2);
      border-bottom: 2px solid #3d898d;
    }

    select select {
      color: white;
      background-color: rgba(226, 221, 223, 0.2);
    }



    a {
      color: transparent;
    }

    .grid-container {
      margin-left: 25px;
      margin-right: 25px;
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 60px;
      background-color: #333;

      padding: 5px;
    }

    .grid-container>div {
      margin-left: 25px;
      margin-right: 25px;
      background-color: rgba(176, 172, 186, 0.2);
      text-align: center;
      padding: 10px 0;
      font-size: 15px;
      color: white;
      border-bottom: 2px solid #3d898d;
    }

    span {
      font-size: 35px;
    }

    p {
      font-size: 26px;
    }
  </style>

</head>

<body>
  <div class="header">
    <a href="/">
      <h1 style="color: #e2dddf;">BUGS</h1>
    </a>

    <p>Best Gamers Use Saggio</p>

    <form action="/" method="post">
      <!--
        <select id="cars" name="cars" form="carform">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
      -->

      <input type="text" id="fname" name="fname" placeholder="..." required>
      <input type="submit" value="Ara">

    </form>

  </div>

  <div class="topnav">
    <a href="/about">About Us</a>

    <a href="#" style="float:right">Giriş</a>
  </div>
  <br><br><br>
  <h1 style="color: #e2dddf; text-align:center; border-bottom: 2px solid #3d898d;">
    <%=name%>
  </h1>

  <h1 style="color: #e2dddf;">
    Total Game Statistics
  </h1>
  <div class="grid-container">
    <div class="card"><span style="border-bottom: 4px solid #3d898d;"> Games Played</span><br> <br>
      <p>
        <%=games_played%>
      </p>

    </div>

    <div class="card"><span style="border-bottom: 4px solid #3d898d;"> Kills</span><br> <br>
      <p>
        <%=kills%>
      </p>

    </div>
    <div class="card"><span style="border-bottom: 4px solid #3d898d;"> Downs</span><br> <br>
      <p>
        <%=downs%>
      </p>

    </div>
    <div class="card"><span style="border-bottom: 4px solid #3d898d;"> Deaths</span><br> <br>
      <p>
        <%=deaths%>
      </p>

    </div>
    <div class="card"><span style="border-bottom: 4px solid #3d898d;"> KDA</span><br> <br>
      <p>
        <%=kdRatio%>
      </p>


    </div>

    <div class="card"><span style="border-bottom: 4px solid #3d898d;"> Wins</span><br> <br>
      <p>
        <%=wins%>
      </p>

    </div>
    <div class="card"><span style="border-bottom: 4px solid #3d898d;"> Top Five</span><br> <br>
      <p>
        <%=top_five%>
      </p>

    </div>
    <div class="card"><span style="border-bottom: 4px solid #3d898d;"> Top Ten</span><br> <br>
      <p>
        <%=top_ten%>
      </p>
    </div>
  </div>


  <h1 style="color: #e2dddf;">
    Weekly Statistics
  </h1>
  <div class="grid-container">
    <div class="card"><span style="border-bottom: 4px solid #3d898d;"> Games Played</span><br> <br>
      <p>
        <%=weekly_data.wz.all.properties.matchesPlayed%>
      </p>
    </div>
    <div class="card"><span style="border-bottom: 4px solid #3d898d;"> KDA</span><br> <br>
      <p>
        <%=weekly_data.wz.all.properties.kdRatio%>
      </p>
    </div>
    <div class="card"><span style="border-bottom: 4px solid #3d898d;"> Kills</span><br> <br>
      <p>
        <%=weekly_data.wz.all.properties.kills%>
      </p>
    </div>
    <div class="card"><span style="border-bottom: 4px solid #3d898d;"> Headshots</span><br> <br>
      <p>
        <%=weekly_data.wz.all.properties.headshots%>
      </p>
    </div>
    <div class="card"><span style="border-bottom: 4px solid #3d898d;"> Damage Done</span><br> <br>
      <p>
        <%=weekly_data.wz.all.properties.damageDone%>
      </p>
    </div>
    <div class="card"><span style="border-bottom: 4px solid #3d898d;"> Damage Done</span><br> <br>
      <p>
        <%=weekly_data.wz.all.properties.damageDone%>
      </p>
    </div>
    <div class="card"><span style="border-bottom: 4px solid #3d898d;"> Gulag Kills</span><br> <br>
      <p>
        <%=weekly_data.wz.all.properties.gulagKills%>
      </p>
    </div>
    <div class="card"><span style="border-bottom: 4px solid #3d898d;"> Deaths</span><br> <br>
      <p>
        <%=weekly_data.wz.all.properties.deaths%>
      </p>
    </div>
    <div class="card"><span style="border-bottom: 4px solid #3d898d;"> Damage Taken</span><br> <br>
      <p>
        <%=weekly_data.wz.all.properties.damageTaken%>
      </p>
    </div>


    <br>
  </div>


  <div class="footer">
    <h2 style="color: white;">BUGS</h2>
  </div>


</body>

</html>